body {
    background-image: url('https://slm-assets.secondlife.com/assets/26725916/lightbox/02.jpg?1593219918');
    background-size: cover;
    color: white;
}
h1{
    color: rgb(179, 220, 42);
    background-color: beige;
}

.box {
    background-color: rgba(0, 0, 255, 0.7);
    min-height: 100px;
    text-align: center;
    padding: 10px;
}

.box2 {
    background-color: rgba(255, 0, 0, 0.7);
    min-height: 100px;
    text-align: center;
    padding: 10px;
}

@media only screen and (max-width: 650px) {
    body {
        background-color: orange;
        color: #fff;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
    }
}
